/* rem and em do NOT depend on html font-size in media queries! Instead, 1rem = 1em = 16px */

/**************************/
/* BELOW 1344px (Smaller desktops) */
/**************************/

@media (max-width: 84em) {
	.list-item {
		font-size: 1.6rem;
	}

	.box-2 {
		position: absolute;
		right: 29rem;
		bottom: -28rem;
	}
}

/**************************/
/* BELOW 1200px (Landscape Tablets) */
/**************************/

@media (max-width: 75em) {
	html {
		/* 9px / 16px  */
		font-size: 56.25%;
	}

	.main-text {
		font-size: 4.4rem;
		color: #fff;
	}

	.box-1 {
		position: absolute;
		right: 5rem;
		top: -12rem;
	}

	.box-2 {
		position: absolute;
		right: 20rem;
		bottom: -30rem;
	}
}

/**************************/
/* BELOW 944px (Tablets) */
/**************************/

@media (max-width: 59em) {
	html {
		/* 8px / 16px = 0.5 = 50% */
		font-size: 50%;
	}

	body {
		padding-bottom: 6.4rem;
	}

	.navbar {
		display: flex;
		justify-content: center;
		padding-top: 4.8rem;
	}

	.line {
		display: flex;
		justify-content: center;
		margin: 0 auto;

		margin-bottom: -4.8rem;
	}

	.list {
		display: none;
	}

	.hero-section {
		display: flex;
		flex-direction: column;
	}

	.hero-section-left {
		margin: 0;
		text-align: center;

		display: flex;
		flex-direction: column;
	}

	.button {
		margin-top: -4.8rem;
		align-self: center;
	}

	.main-text {
		font-size: 5.2rem;
	}

	.box-1 {
		position: absolute;
		right: -36rem;
		top: -4rem;
	}

	.box-2 {
		position: absolute;
		right: -2rem;
		bottom: -35rem;
	}
}

/**************************/
/* BELOW 704px (Smaller tablets) */
/**************************/

@media (max-width: 44em) {
	.box-1 {
		position: absolute;
		right: -30rem;
		top: -4rem;
	}

	.box-2 {
		position: absolute;
		right: -8rem;
		bottom: -35rem;
	}
}

/**************************/
/* BELOW 544px (Phones) */
/**************************/

@media (max-width: 34em) {
	.main-text {
		font-size: 3.2rem;
	}
	.box-1 {
		position: absolute;
		right: -19rem;
		top: -4rem;
	}

	.box-2 {
		position: absolute;
		right: -18rem;
		bottom: -38rem;
	}
}
/* 
  - Font sizes (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
  - Spacing system (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  */
